This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [ ]:
n = 71
if(n%7==0):
  print("it is divisible by 7")
else:
  print("it is not divisible by 7")

it is not divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [ ]:
n = 70
if n%7==0 or n%5==0:
  print('The Number is 5 or 7')
else:
  print('The Number is not 5 or 7')

The Number is 5 or 7

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [ ]:
unit = int(input("Enter a number:"))
bill = 0
if(unit<=100):
  bill = unit*3
elif(unit<=300):
  bill = (100*3)+(unit-100)*5
elif(unit<=500):
  bill = (100*3)+(100*5)+((unit-300)*7)
else:
  bill = (100*3)+(100*5)+(100*7)+((unit-500)*10)
print(bill)

Enter a number:500
2200

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [ ]:
sum = 0
for i in range(1, 11):
  sum = sum+(i*i)
print(sum)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [ ]:
sum = 0
for i in range(1, 11):
  if(i%2==0):
    sum = sum+(i*i)
print(sum)

220

**Problem-6**<br>
Check a number is prime or not

In [ ]:
num = int(input("Enter a number: "))
for i in range(2,num):
  if (num % i) == 0:
    print(num,"is not a prime number")
  else:
    print(num,"is a prime number")

Enter a number: 3
3 is a prime number

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    product = j*i
    print(i, '*', j, '=',product)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [ ]:
n = int(input("Enter a number:"))
f1 = 0
f2 = 1
c = 2
print(f1)
print(f2)
for i in range(3,n+1):
  f3=f1+f2
  print(f3)
  f1=f2
  f2=f3

Enter a number:7
0
1
1
2
3
5
8